<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/head::head">
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:replace="QuanLySan/includes/menu_QLS::menu"></div>
        <div class="layout-page">

            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <table class="table table-bordered bg-white">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Khách hàng</th>
                            <th>Sân</th>
                            <th>Thời gian</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="booking, iterStat : ${bookings}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${booking.fullName}"></td>
                            <td th:text="${booking.court.name}"></td>
                            <td th:text="${#temporals.format(booking.startTime, 'HH:mm')} + ' - ' + ${#temporals.format(booking.endTime, 'HH:mm')}"></td>

                            <td th:text="${booking.status}"></td>
                            <td>
                                <div class="d-flex gap-2 justify-content-center">
                                    <form th:action="@{/Booking/approve}" method="post" class="mb-0">
                                        <input type="hidden" th:value="${booking.id}" name="bookingId"/>
                                        <button type="submit" th:if="${booking.status == 'Chờ duyệt'}" class="btn btn-success btn-sm" style="font-size: 1rem;">Phê duyệt</button>
                                    </form>
                                    <form th:action="@{/Booking/deny}" method="post" class="mb-0">
                                        <input type="hidden" th:value="${booking.id}" name="bookingId"/>
                                        <button type="submit" th:if="${booking.status == 'Chờ duyệt'}" class="btn btn-danger btn-sm" style="font-size: 1rem;">Từ chối</button>
                                    </form>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="QuanLySan/includes/footer_QLS::footer"></div>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
</body>
</html>
